[borg]
	pushDefault = mbkamble
	collective = emacsg
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = git@github.com:domtronn/all-the-icons.el.git
[submodule "all-the-icons-dired"]
	path = lib/all-the-icons-dired
	url = git@github.com:jtbm37/all-the-icons-dired.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "blackout"]
	path = lib/blackout
	url = git@github.com:raxod502/blackout.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "fill-column-indicator"]
	path = lib/fill-column-indicator
	url = git@github.com:alpaker/Fill-Column-Indicator.git
[submodule "general"]
	path = lib/general
	url = git@github.com:noctuid/general.el.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "hercules"]
	path = lib/hercules
	url = git@gitlab.com:jjzmajic/hercules.el.git
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "key-chord"]
	path = lib/key-chord
	url = git@github.com:emacsorphanage/key-chord.git
[submodule "key-seq"]
	path = lib/key-seq
	url = git@github.com:vlevit/key-seq.el.git
[submodule "libgit"]
	path = lib/libgit
	url = git@github.com:magit/libegit2.git
	build-step = make
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "memoize"]
	path = lib/memoize
	url = git@github.com:skeeto/emacs-memoize.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "objed"]
	disabled = true
	path = lib/objed
	url = git@github.com:clemera/objed.git
[submodule "org"]
	path = lib/org
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "org-bullets"]
	path = lib/org-bullets
	url = git@github.com:emacsorphanage/org-bullets.git
[submodule "org-download"]
	path = lib/org-download
	url = git@github.com:abo-abo/org-download.git
[submodule "org-journal"]
	path = lib/org-journal
	url = git@github.com:bastibe/org-journal.git
[submodule "org-mind-map"]
	path = lib/org-mind-map
	url = git@github.com:theodorewiles/org-mind-map.git
[submodule "org-web-tools"]
	path = lib/org-web-tools
	url = git@github.com:alphapapa/org-web-tools.git
[submodule "outorg"]
	path = lib/outorg
	url = git@github.com:alphapapa/outorg.git
[submodule "outshine"]
	path = lib/outshine
	url = git@github.com:alphapapa/outshine.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "plain-org-wiki"]
	path = lib/plain-org-wiki
	url = git@github.com:abo-abo/plain-org-wiki.git
[submodule "poet-theme"]
	path = lib/poet-theme
	url = git@github.com:kunalb/poet.git
	remote = "mbkamble git@github.com:mbkamble/poet.git"
[submodule "point-stack"]
	path = lib/point-stack
	url = git@github.com:dgutov/point-stack.git
[submodule "prescient"]
	disabled = true
	path = lib/prescient
	url = git@github.com:raxod502/prescient.el.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "selectrum"]
	disabled = true
	path = lib/selectrum
	url = git@github.com:raxod502/selectrum.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
	info-path = docs
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "ts"]
	path = lib/ts
	url = git@github.com:alphapapa/ts.el.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
	remote = "mbkamble git@github.com:mbkamble/emacs-which-key.git"
[submodule "winum"]
	path = lib/winum
	url = git@github.com:deb0ch/emacs-winum.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
